/*
  Author: Matthew Dobie
  Author URL: mattdobie.com
  Description: Styles for TwitchTV project
*/


// Variables
$background: white;
$twitch: #6441A4;
$twitch-light: #7855B8;
$twitch-dark: #5A379A;


// General styles
* {
  box-sizing: border-box;
}

body {
  background-color: $background;
  font-family: 'Play', sans-serif;
  font-weight: 300;
  font-size: 11px;
  color: $twitch;
  text-align: center;
}


// Header styles
.header {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 120px;
  background: white;
  z-index: 100;
  h1 {
    margin-top: 6vh;
    font-size: 3.8em;
    font-weight: bold;
    letter-spacing: 1px;
    color: $twitch;
    text-align: center;
  }
}


// Filter button styles
.btn-group {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 999;
}

.btn-filter {
  width: 33.5vw;
  font-size: 1.3em;
  letter-spacing: 1px;
  background-color: $twitch;
  color: white;
  border: solid 1px $twitch-dark;
  border-radius: 0;
  cursor: pointer;
  .badge {
    padding: 0.3em;
    margin-left: 0.7em;
    background: white;
    color: $twitch;
  }
  &:hover, &:focus {
    background: $twitch-light;
  }
}

.btn.active {
  box-shadow: inset 0 3px 5px rgba(0,0,0,.125);
  background: $twitch-dark;
  cursor: default;
}


// Main content styling
.content {
  margin: 60px auto 80px;
  z-index: 0;
  text-align: left;
  .row {
    margin: 2px 0;
    line-height: 50px;
    padding: 5px;
  }
  .name, .info {
    line-height: 50px;
  }
  .info {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
  img {
    width: 40px;
    height: 40px;
    margin-left: 10px;
  }
  a {
    text-decoration: none;
    color: $twitch;
    padding: 0.5em;
    border-radius: 0.5em;
    &:hover {
      color: white;
      background: $twitch;
    }
  }
}

.led {
  display: inline-block;
  height: 8px;
  width: 8px;
  border-radius: 50%;
  &.led-on{
    background: #00FF00;
    box-shadow: 0 0 3px #00FF00;
  }
  &.led-off {
    background-color: #ff4c4c;
    box-shadow: 0 0 3px #ff4c4c;
  }
}

.hidden {
  display: none;
}


// Footer styling
footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  padding: 10px;
  padding-bottom: 1px;
  font-style: italic;
  background: $twitch-dark;
  color: white;
  a {
    text-decoration: none;
    color: white;
    &:visited {
      color: white;
    }
    &:hover {
      color: $twitch-light;
    }
  }
}

// Small screens and above
@media (min-width: 576px) {
  body {
    font-size: 13px;
  }
}

// Medium screen and above
@media (min-width: 768px) {
  body {
    font-size: 14px;
  }
  .header {
    display: block;
  }
  .btn-group {
    top: 120px;
    margin: 0 auto 30px;
  }
  .content {
    margin-top: 190px;
    img {
      width: 50px;
      height: 50px;
      margin-left: 15px;
    }
  }
  .led {
    height: 10px;
    width: 10px;
  }
}