/*
  Author: Matthew Dobie
  Author URL: mattdobie.com
  Description: Styles for TwitchTV project
*/


$background: white;
$twitch: #6441A4;
$twitch-light: #7855B8;
$twitch-dark: #5A379A;

* {
  box-sizing: border-box;
}

body {
  background-color: $background;
  font-family: 'Play', sans-serif;
  font-weight: 300;
  font-size: 11px;
  color: $twitch;
  text-align: center;
}

.header {
  h1 {
    font-family: 'Roboto', sans-serif;
    margin-top: 8vh;
    font-size: 3.8em;
    font-weight: bold;
    letter-spacing: 1px;
    color: $twitch;
  }
}

.btn-group {
  margin: 20px auto 30px;
}

.btn-filter {
  background-color: $twitch;
  font-size: 1.3em;
  letter-spacing: 1px;
  color: white;
  border: solid 1px $twitch-dark;
  cursor: pointer;
  .badge {
    background: white;
    color: $twitch;
    padding: 0.3em;
    margin-left: 0.7em;
  }
  &:hover, &:focus {
    background: $twitch-light;
  }
}

.btn.active {
  box-shadow: inset 0 3px 5px rgba(0,0,0,.125);
  background: $twitch-dark;
  cursor: default;
}

.content {
  text-align: left;
  margin-bottom: 100px;
  .row {
    margin: 2px 0;
    line-height: 50px;
    padding: 5px;
  }

  #name, #info {
    line-height: 50px;
  }

  #info {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }

  img {
    width: 40px;
    height: 40px;
    margin-left: 10px;
  }

  a {
    text-decoration: none;
    color: $twitch;
    padding: 0.5em;
    border-radius: 0.5em;
    &:hover {
      color: white;
      background: $twitch;
    }
  }
}

.led {
  display: inline-block;
  margin-top: 20px;
  height: 8px;
  width: 8px;
  border-radius: 50%;
  &.led-on{
    background-color: #00FF00;
    color:  #00FF00;
  }
  &.led-off {
    background-color: #ff4c4c;
    color:  #ff4c4c;
  }
}

.hidden {
  display: none;
}

footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  padding: 10px;
  padding-bottom: 1px;
  font-style: italic;
  background: $twitch-dark;
  color: white;
  a {
    text-decoration: none;
    color: white;
    &:visited {
      color: white;
    }
    &:hover {
      color: $twitch-light;
    }
  }
}

@media (min-width: 576px) {
   body {
    font-size: 12px;
  }
  .btn-filter {
    width: 150px;
  }
}

@media (min-width: 768px) {
  body {
    font-size: 14px;
  }
  .btn-filter {
    width: 200px;
  }
  .content {
    img {
      width: 50px;
      height: 50px;
      margin-left: 15px;
    }
  }
  .led {
    height: 10px;
    width: 10px;
  }
}